.slidingPane {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 92.5%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  min-height: 0;

  /* Start off-screen below*/
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slidingPaneOpen {
  transform: translateY(7.5%);
}

.slidingPaneContent {
  flex: 1;
  min-height: 0; // allow nested overflow to scroll
  display: flex;
  flex-direction: column;
}

.slidingPaneOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 999;
}

.slidingPaneActive {
  opacity: 1;
  visibility: visible;
}
