.filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  max-width: 425px;
}

.header {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}
