.filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.acquiredFilter {
  display: flex;
  gap: 1rem;
  align-items: center;

  label {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: 33%;
  }

  @media (min-width: 1440px) {
    max-width: 25%;
  }
}

.header {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}
