@use "@/styles/variables" as *;

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.error {
  color: #ef4444;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1rem 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}

.card {
  filter: grayscale(1);
  position: relative;
  display: flex;
  cursor: pointer;
  box-shadow: 6px 6px 12px -8px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  filter: 0.5s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    overflow: visible;
    filter: grayscale(0);

    & .placeholderImageWrapper {
      clip-path: inset(
        0 170px 0 -50%
      ); //the key is the 2nd number, image subtrack the box width is the answer
    }

    & .placeholderImage {
      transform: translate(-25%, 0);
    }
  }
}

.placeholderImageWrapper {
  width: 100%;
  clip-path: inset(0 170px 0 0); //the key is the 2nd number
  transition: clip-path 0.5s;
}

.placeholderImage {
  display: block;
  transform-origin: right center; // anchors to right, grows left
  transition: transform 0.3s ease;
}

.cardImage {
  width: 100%;
  display: block;
}

.cardName {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
  font-weight: 600;
}
