.card {
  filter: grayscale(1);
  position: relative;
  display: flex;
  cursor: pointer;
  box-shadow: 6px 6px 12px -8px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  filter: 0.5s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    overflow: visible;
    filter: grayscale(0);

    & .placeholderImage {
      transform: translate(-25%, 0);
    }
  }
}

.placeholderImageWrapper {
  width: 100%;
  transition: clip-path 0.5s;
}

.placeholderImage {
  display: block;
  transform-origin: right center; // anchors to right, grows left
  transition: transform 0.3s ease;
}

.cardImage {
  width: 100%;
  display: block;
}

.cardName {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
  font-weight: 600;
}
