.cardQueryItemMobile {
  display: flex;
  flex-direction: column;
  width: 120px;
  flex: 0 0 120px;

  @media (min-width: 425px) {
    width: 150px;
    flex: 0 0 150px;
  }

  img {
    width: 100%;
    max-height: 250px;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}

.cardQueryItemInfoMobile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  flex: 1;

  b,
  button {
    font-size: 0.75rem;
  }
}

.cardQueryItemSetName {
  white-space: norma;
  overflow-wrap: anywhere;
  word-break: break-word;
  max-width: 100%;
  display: block;
}
