.cardQueryMobile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  justify-content: center;
}

.cardQueryFilters {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  b,
  label {
    font-family: "undefined";
    font-weight: 800;
    font-size: 0.75rem;
  }
}

.cardQuerySearchFilters {
  display: flex;
  width: 100%;
  flex-direction: column;

  button {
    margin-left: 0.5rem;
  }
}

.cardQuerySelectFilters {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
