.cardQueryMobile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  justify-content: center;
}

.cardQueryFilters {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;

  b {
    font-size: 0.75rem;
  }
}
