.cardProfileMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  img {
    max-width: 33%;
    height: auto;
    filter: grayscale(1);
    max-height: 250px;
  }
}
