.cardProfileMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;

  img {
    max-width: 25%;
    height: auto;
    max-height: 250px;
    filter: grayscale(1);

    @media (min-width: 425px) {
      max-width: 33%;
      max-height: 185px;
    }
  }
}

.cardProfileInfoMobile {
  p {
    font-family: "undefined" !important;
    font-size: 0.75rem;
  }
}

.acquired {
  filter: grayscale(0) !important;
}

.cardProfileCTAs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  button {
    padding: 0 0.5rem;
    background-color: transparent;
  }
}

.cardProfileToggles {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  right: 0;
  top: 2rem;

  button {
    padding: 0 0.5rem;
    min-width: 105px;
    background-color: transparent;
  }
}
