.cardProfileMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  img {
    max-width: 33%;
    height: auto;
    max-height: 250px;
    filter: grayscale(1);
  }
}

.cardProfileInfoMobile {
  padding: 0.5rem 0;

  p {
    font-family: "undefined" !important;
    font-size: 0.75rem;
  }
}

.acquired {
  filter: grayscale(0) !important;
}
