@use "@/styles/variables" as *;

.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.error {
  color: #ef4444;
}

.gridMobile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
  width: 100%;
}

.gridHeadersMobile {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 1rem;
}

.gridProgressBarLabelMobile {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: 768px) {
    max-width: 50%;
  }

  @media (min-width: 1440px) {
    max-width: 25%;
  }

  h2 {
    @media (max-width: 424px) {
      font-size: 1.25rem;
    }
  }
}
