@font-face {
  font-family: "undefined";
  src: url("./assets/fonts/undefined-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: "undefined";
}

p,
span,
input[type="text"],
input[type="radio"] {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

input[type="text"]::placeholder {
  font-style: italic;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #e2e8f0 4%, #cbd5e1 25%, #e2e8f0 36%);
  background-size: 1000px 100%;
  border-radius: 4px;
}
