.progressBar {
  max-width: 100%;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 33%;
  }

  @media (min-width: 1440px) {
    max-width: 25%;
  }
}
