@use "@/styles/variables" as *;

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.homepageHeader {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 200;

    @media (min-width: 475px) {
      font-size: 3rem;
      letter-spacing: 0.125rem;
    }
  }
}

.subtitle {
  font-size: 1.1rem;
  margin: 0;
}
