@use "@/styles/variables" as *;

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.1rem;
  margin: 0;
}
